.subject-title {
    text-align: center;
    font-size: 3em;
    color: black;
    margin-top: 5%;
}

.positive .title {
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 10px;
}

.positive div:first-child {
    text-align: left;
    color: white;
}

.negative .title {
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 10px;
}

.widget-container {
    padding: 40px;
}

.widget-wrapper {
    padding-top: 10px;
}

.widget-buttons {
    border: 1px solid #ccc;
    height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    box-shadow: 6px 6px 5px 0px #ccc;
    align-items: center;
    justify-content: center;
}

.widget-buttons-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.widget {
    padding-bottom: 20px;
}

.negative div:first-child {
    text-align: right;
    color: white;
}

.argument-container {
    background-color: white;
    border: 1px solid #ccc;
    height: auto;
    padding: 20px;
}

.argument-title {
    font-weight: bold;
}

.avatar {
    width: 50px;
}

.argument-info {
    padding-left: 50px;
}

.add {
    margin-top: 5%;
    text-align: center;
}

.add > input[type="text"] {
    width: 80%;
}

.add-btn {
    width: 50%;

}

.add-btn-container {
    margin-top: 10%;
    text-align: center;
}

.left-panel {
    background: #FFFFFF;
    height: 100%;
}

.login-right-panel {
    background: url('/images/right-panel.png') no-repeat center;
    height: 100%;
}

.login-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-item {
    max-width: 50%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 6px 6px 5px 0px #ccc;
    padding: 30px;
    position: relative;
}

.text {
    color: #ccc;
    padding-top: 10px;
}

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    height: 26px;
    width: 27px;
    cursor: pointer;
    background: url('/images/fa-eye.svg') no-repeat 50% 50%;
}

.login-information-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-information-container-item {
    max-width: 50%;
    color: white;
    padding: 30px;
    position: relative;
}

.login-information-container-item p {
    font-size: 1.2rem;
    padding-top: 10px;
}

.social-icons {
    font-size: 2rem;
}

.txt {
    font-size: 1rem;
    position: relative;
    top: -5px;
}

.plusarg {
    background-image: url('../images/add.png');
    height: 64px;
    width: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    background-color: #fafafa;
    border: none;
    margin-top: 20px;
}

.popover.right.notice {
    display: block;
    min-width: 200px;
    height: auto;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 6px 6px 5px 0px #ccc;
    padding: 10px;
    top: -60%;
    left: 100%;
    min-height: 112px;
}

.errspan.indicator {
    background: url('/images/security_level.svg') no-repeat 50% 50%;
    margin-right: -10px;
    margin-top: -29px;
}

.popover .popover-title {
    background-color: white;
    color: #d50000;
}

.password-position {
    padding-right: 45px;
}

.positive {
    background-color: #009688;
    color: white;
}

.negative {
    background-color: #E91E63;
    color: white;
}

.box {
    padding: 0 5px 0 5px;
}

.box .inner {
    background-color: #fff;
}

.container-flex {
    display: flex;
    flex-direction: row;

}

.item-flex {
    flex: 1;
    height: 50px;
    margin-right: 10px;
}

.item-flex:last-child {
    margin-right: 0;
}

.argument{
    word-wrap:break-word;
}

.autocomplete{
  width: 100%;
  height: 3em;
  position: relative;
}

.autocomplete i {
    /* margin-left: -30px; */
    position: absolute;
    left: 97%;
    top: 2px;
    /* vertical-align: middle; */
    margin-top: 10px;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  padding: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}





