.toggle {
    vertical-align: middle;
}

.toggle,
.toggle * {
    user-select: none;
}

.toggle label input[type=checkbox]:first-child {
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.toggle label input[type=checkbox]:first-child:checked + .toggle {
    background-color: rgba(0, 149, 135, 0.5);
}

.toggle label input[type=checkbox]:first-child:checked + .toggle:after {
    background-color: #009587;
}

.toggle label .toggle,
.toggle label input[type=checkbox][disabled]:first-child + .toggle {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
}

.toggle label .toggle:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -2px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}

.toggle label input[type=checkbox][disabled]:first-child + .toggle:after,
.toggle label input[type=checkbox][disabled]:checked:first-child + .toggle:after {
    background-color: #BDBDBD;
}

.toggle label input[type=checkbox]:first-child:checked:active ~ .toggle:after,
.toggle label input[type=checkbox]:first-child:checked ~ .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 149, 135, 0.1);
}

.toggle label input[type=checkbox]:first-child:active ~ .toggle:after,
.toggle label input[type=checkbox]:first-child ~ .toggle:active:after,
.toggle label input[type=checkbox][disabled]:first-child ~ .toggle:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}

.toggle label input[type=checkbox]:first-child:checked + .toggle:after {
    left: 15px;
}