<div class="container-fluid widget-container" ng-form="addArgumantForm" novalidate>


    <div class="container-flex widget">
        <div class="item-flex positive">
            <i class="fa fa-thumbs-up like-icon" aria-hidden="true"></i>
            <div class="title">Pro</div>
        </div>
        <div class="item-flex negative">
            <i class="fa fa-thumbs-down like-icon" aria-hidden="true"></i>
            <div class="title">Cons</div>
        </div>
    </div>


    <div class="container-flex padding-bottom-20">
        <div class="item-flex auto-height">
            <arguments args="$ctrl.subj.arguments.pro"></arguments>
        </div>
        <div class="item-flex auto-height">
            <div class="title">
                <arguments args="$ctrl.subj.arguments.cons"></arguments>
            </div>
        </div>
    </div>


    <div class="container-flex padding-bottom-20">
        <div class="item-flex auto-height widget-buttons">
            <div class="widget-wrapper" ng-click="$ctrl.showForm=true">
                <span class="widget-buttons-title">Add argument</span>
            </div>

        </div>
        <div class="item-flex auto-height widget-buttons">
            <div class="widget-wrapper" ng-click="$ctrl.showResult()">
                <span class="widget-buttons-title">Result</span>
            </div>
        </div>
    </div>


    <div class="container-flex" ng-show="$ctrl.showForm">

        <div class="item-flex auto-height">

            <div class="form-horizontal">
                <fieldset>
                    <legend>Add argument</legend>
                    <div class="form-group is-empty">
                        <label for="argumentTitle" class="col-md-2 control-label">Title</label>

                        <div class="col-md-10">
                            <input type="text"
                                   ng-model="$ctrl.argumentTitle"
                                   class="form-control" id="argumentTitle"
                                   placeholder="Title">
                        </div>
                    </div>

                    <div class="form-group is-empty">
                        <label for="textArea" class="col-md-2 control-label">Body</label>

                        <div class="col-md-10">
                            <textarea
                                    ng-model="$ctrl.argumentBody"
                                    class="form-control" rows="3" id="textArea">
                            </textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="toggle">
                                <label>
                                    <input ng-model="$ctrl.argumentStatus" type="checkbox">
                                    <div class="toggle"></div>
                                    {{$ctrl.argumentStatus==true? 'Positive' : 'Negative' }}
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button ng-click="$ctrl.addArg()"
                                    class="btn btn-raised btn-primary">Upload
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>