<script type="text/ng-template" id="categoryTree.html">
    <div ng-class="$ctrl.headClass(item)" ng-click="$ctrl.selectNodeHead(item)">{{item.Category || item.subject}}</div>
    <ul ng-if="item.children.length > 0 && $ctrl.headClass(item) != 'tree-collapsed'" >
      <li ng-repeat="item in item.children" ng-include="'categoryTree.html'"  ng-click="$ctrl.selectNodeLabel(item, $event)" >        
      </li>
    </ul>
</script>

<div data-tree-model>
    <ul>  
        <li ng-repeat="item in $ctrl.treeModel" ng-include="'categoryTree.html'" ></li>                       
    </ul>
</div>